.guitaras-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:4rem;
}

@media(min-width:768px){
    .guitaras-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(min-width:992px){
    .guitaras-grid{
        grid-template-columns: repeat(3,1fr); /*en pantalla grande 3 columnas*/
    }
}

.guitarra{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(250, 250, 250);
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(245,245,245);
}
.guitarra .contenido{
    padding:1rem;
}

.guitarra .contenido h3{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
}
/*
    para delimitar la cantidad de lineas que muestra la descipcion
    ! importat
*/
.guitarra .descripcion{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.guitarra .precio{
    color: var(--primary);
    font-size: 3rem;
    margin:0;
    font-weight: 900;
}
/* enlaces tienen display inline, margin no afecta, poner display:block*/
.guitarra .enlace{
    margin-top:2rem;
    display:block;
    text-decoration: none;
    background-color: black;
    color: var(--white);
    padding: .5rem;;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    transition-property: background-color;
    transition-duration: 300ms;
}
.guitarra .enlace:hover{
    background-color: var(--primary);
}